<form class="form-inline" action="/subreddits" accept-charset="UTF-8" data-remote="true" method="post">
	<div class="form-group">
		<input class="input-small" name="utf8" type="hidden" value="✓">
	</div>
	<div class="form-group sr-title">
		<input class="form-control input-small subreddit_title_field" placeholder="Create new subreddit" type="text" name="subreddit[title]" id="subreddit_title">
	</div><button type="submit" name="commit" class="btn btn-default new-subreddit">Submit</button>
</form>
