<html>
	<head>
		<title></title>
	</head>
	<body>

		<div class="row">
			<%= render 'sidebar' %>
			<%= render 'posts_body'  %>	
			<div class="row text-center"> 
				<%= will_paginate @posts  %>
			</div>
		</div>
	</body>
</html>