$('.sidebar').append('<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> Success! <%=link_to @subreddit.title,subreddit_path(@subreddit) %> created! </div>');
$('.title_field').append('<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>');
$('.sr-title').addClass('has-success');
