$('.sidebar').append('<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <%= @error %></div>');
$('.sr-title').addClass('has-error');